
<nav class="navbar">
    <div class="btns">
        <a class="nav-item nav-link active" id="btn1" routerLink="/buying-ticket" routerLinkActive="active">Buy ticket</a>
        <a class="nav-item nav-link active" id="btn1" routerLink="/bus-maps" routerLinkActive="active">Bus maps</a>
        <a class="nav-item nav-link active" id="btn1" routerLink="/bus-location" routerLinkActive="active">Bus location</a>
        <a class="nav-item nav-link active" id="btn1" routerLink="/ticket-price" routerLinkActive="active">Pricelist</a>
        <a class="nav-item nav-link active" id="btn1" routerLink="/schedule" routerLinkActive="active">Schedules</a>
        <a class="nav-item nav-link active" id="btn1" routerLink="/check-in-ticket" routerLinkActive="active">Ticket check in</a>
    </div>
    <label id="label" href="#">Bus station</label>
    <div class="regBut">
        <a class="nav-item nav-link active" id="btn" routerLink="/login" routerLinkActive="active">Log in</a>
        <a class="nav-item nav-link active" id="btn" routerLink="/register" routerLinkActive="active">Register</a>
    </div>       
    
</nav>


