.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background: rgb(135, 196, 245)
}

#label
{
    position: absolute;
    font-size: 36px;
    margin-left: 50px;
    margin-right: 100px;
    color: #fff;
    top: 5px;
    left: 800px;
}

.collapse.navbar-collapse {
    right: 0%;
    position: absolute;
}

.needs-validation {
    width: 40%;
   
    margin-top: 10px;
    text-align: center;
    color: #fff;
    background: rgb(135, 196, 245);
}

.btn.btn-primary {
    margin-bottom: 20px;
    margin-top: 20px;
}

.email {
    margin-top: 30px;
}

#btn
{
    background-color: rgb(83, 170, 241); /* Green */
    color: #fff;
}

.all
{
    position: relative;
    top:60px;
    left:10px;
}