<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar">
        <div class="btns">
            <a  id="btn" routerLink="/admin-lines" routerLinkActive="active">Lines</a>
            <a  id="btn" routerLink="/admin-station" routerLinkActive="active">Stations</a>
            <a  id="btn" routerLink="/admin-schedule" routerLinkActive="active">Schedule</a>
            <a  id="btn" routerLink="/admin-price-list" routerLinkActive="active">Pricelist</a>
        </div>
        <label id="label" href="#">Bus station</label>
        <div class="regOut">
                <a id="btn" (click)="Logout()" routerLinkActive="active">Log out</a>
        </div>       
        
</nav>

